/* Style for global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for start */

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.container-flex-column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 2em;
}

.img-principal{
  padding: 100px;
}