/* Style for global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map{
  width: 100vw;
  height: 90vh;
}

.form-btn{
  margin-top: 20px;
}

.padding-9{
  padding-left: 9px;
  padding-right: 9px;
}

